@font-face {
  font-family: 'iconfont';  /* project id 467022 */
  src: url('//at.alicdn.com/t/font_467022_f9c0mftkpriwl8fr.eot');
  src: url('//at.alicdn.com/t/font_467022_f9c0mftkpriwl8fr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_467022_f9c0mftkpriwl8fr.woff') format('woff'),
  url('//at.alicdn.com/t/font_467022_f9c0mftkpriwl8fr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_467022_f9c0mftkpriwl8fr.svg#iconfont') format('svg');
}

.icon-shouji {
  font-family: 'iconfont', serif;
}

.icon-suo {
  font-family: 'iconfont', serif;
}

.icon-ren {
  font-family: 'iconfont', serif;
  color: #fff;
  font-size: 20px;
}

.icon-caidan {
  font-family: 'iconfont', serif;
  color: #fff;
  font-size: 20px;
}

.icon-chaxun {
  font-family: 'iconfont', serif;
  color: #fff;
  font-size: 21px;
}

.icon-yinyue {
  font-family: 'iconfont', serif;
  color: #fff;
  font-size: 20px;
}

.icon-cloudmusic {
  font-family: 'iconfont', serif;
  color: #fff;
  font-size: 22px;
}